OPENAI_BASE_URL=https://api.deepseek.com
OPENAI_API_KEY=<API_KEY>
CHAINLIT_AUTH_SECRET=<AUTH_SECRET>
POSTGRESQL_CONNINFO=postgresql+asyncpg://{user}:{password}@{host}:{port}/chainlit
AUTH_PASSOWRD=<chainlit-admin-auth-password>

JUPYTER_SERVER=<jupyter-host>:<jupyter-port>
JUPYTER_TOKEN=<jupyter-auth-token>